.github
.git
*.md
.vscode
.gitignore
Makefile
/backend/docs
.eslintcache
.gocache
/frontend/node_modules
/frontend/dist
/frontend/electron/node_modules
/frontend/electron/dist
/backend/frontend/dist
!THIRD-PARTY-LICENSES.md
